<%= form_with(model: friend) do |form| %>
  <% if friend.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(friend.errors.count, "error") %> prohibited this friend from being saved:</h2>

      <ul>
        <% friend.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group mb-3">
 
    <%= form.text_field :first_name, class:"form-control", placeholder:"First Name" %>
  </div>

  <div class="field form-group mb-3">

    <%= form.text_field :last_name, class:"form-control", placeholder:"Last Name"  %>
  </div>

  <div class="field form-group mb-3">

    <%= form.text_field :email, class:"form-control", placeholder:"Email" %>
  </div>

  <div class="field form-group mb-3">
   
    <%= form.text_field :phone, class:"form-control", placeholder:"Phone Number"  %>
  </div>

  <div class="field form-group mb-3">
    
    <%= form.text_field :twitter, class:"form-control", placeholder:"Twitter Handle"  %>
  </div>

  <div class="d-flex flex-row" >
  <div class="actions" style="margin-right: 10px;">
    <%= form.submit class:'btn btn-secondary'%>
  </div>

  <%= link_to "Back", friends_path, class:'btn btn-dark' %>
</div>

<% end %>
