<div id="<%= dom_id friend %>" class="d-flex flex-row">
  <p>
    <%= friend.first_name %>
  </p>

  <p>
    <%= friend.last_name %>
  </p>

  <p>
    <%= friend.email %>
  </p>

  <p>
    <%= friend.phone %>
  </p>

  <p>
    <%= friend.twitter %>
  </p>

  <%= link_to "Show this friend", friend %>

</div>
